.container-fluid {
    background-color: #fbfbfb;
}
.panel-body {
    background-color: #f0f0f0;
}
table.table.table-striped.table-hover {
    font-size: medium;
}
h1, h2 {
    font-weight: bold;
}
.page-header h1, td, th {
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
h2:before {
    content: "\203a";
    margin-right: 5px;
}
img {
    max-width: 22px;
}
td:first-child {
    text-align: left;
}
.separated,
tr:first-child th:nth-child(4),
tr:nth-child(2) th:nth-child(6),
th:nth-child(3), td:nth-child(3), td:nth-child(6) {
    border-left: 2px solid #000;
}
tbody tr:nth-child(3) {
    border-top: 2px solid #000;
}
.table-hover>tbody>tr:hover {
    background-color: #fff;
}
/*th {
    background-color: #FFF;
}
.secondtablehead th {
    border-top: none !important;
}*/
